In [128]:
import pandas as pd

In [129]:
data = [[1, 2, '2016/06/03'], [1, 3, '2016/06/08'], [2, 3, '2016/06/08'], [3, 4, '2016/06/09']]
request_accepted = pd.DataFrame(data, columns=['requester_id', 'accepter_id', 'accept_date']).astype({'requester_id':'Int64', 'accepter_id':'Int64', 'accept_date':'datetime64[ns]'})

In [130]:
df = pd.concat([request_accepted['requester_id'], request_accepted['accepter_id']])

In [131]:
df = df.value_counts().reset_index().rename(columns={'index' : 'id', 'count' : 'num'})

In [132]:
# df.sort_values(by="count", ascending=False)

In [136]:
df.iloc[[0]]

   id  num
0   3    3